<header>
    <nav class="navbar navbar-expand-lg navbar-dark indigo fixed-top">
        <div class="container">

            <!-- Navbar brand -->
            <a class="navbar-brand" href="#">IMAGINE</a>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                    aria-controls="basicExampleNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Teacher
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Gallery</a>
                    </li>
                </ul>
            </div>
            <!-- Collapsible content -->
        </div>
    </nav>
    <!--Mask-->
    <div id="intro" class="view">

        <div class="mask rgba-black-strong">
            <div class="container-fluid d-flex align-items-center justify-content-center h-100">
                <div class="row d-flex justify-content-center text-center w-50">
                    <div class="col-md-10">
                        <!-- Heading -->
                        <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">미술교습소 상상</h2>

                        <!-- Divider -->
                        <hr class="hr-light">

                        <!-- Description -->
                        <h4 class="white-text my-4">안녕하세요 미술교습소 상상입니다. <br>
                            아이들의 소중한 꿈을 함께 그려나갑니다.
                        </h4>
                        <button type="button" class="btn btn-outline-white">Read more<i class="fa fa-book ml-2"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--/.Mask-->
</header>